<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width" , initial-scale="1.0">
<link rel="stylesheet" , href="../static/landingPage.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<title>MirrorInterview</title>
</head>
<body>
	<div class="navLogo">
		<h3 class="logo">Mirror<span class="logoBlack">Interview</span>
		</h3>
		<a class="toptryBtn" href="{{ url_for('upload.uploadIndex') }}">Get Started</a>
	</div>
<div class="main">
	<div class="Top">
	<i class="fa-solid fa-microphone"></i> AI-Powered Voice Interviews
	</div>
	<h1>
		Get Interview Ready   
			<span class="highlight">In <br> Minutes, </span>
	 	Not in Months
	</h1>	
	<p>Upload your resume, mirror with an AI Powered Hiring Manager and <br>
		get instant feedback to ace your next interview.
	</p>

	<a class="tryBtn" href="{{ url_for('upload.uploadIndex') }}">Try For Free </a>
</div>


<div class="testimonials">
	<div class="imgDiv">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKtKSJxl-K169IYNluymXVhJLi0Z-o_T_yHg&s" alt="girl">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyCqUpMDREn0LA6iq2UswTp5w34Nnx6fwrgA&s" alt="student">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUBz7cufwO3nEGUJ36AoAJfwFuSXuXc_1-OQ&s" alt="student1">
		
		<div class="last-img-container">
    			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1mcKDF23ZHKZW1A2-nBALGjd-9pf_N9S8yQ&s" alt="">
    			<span class="test-text">1,300+</span>
  		</div>
	</div>
	<span class="test-label">1,300+ candidates already getting interview ready
</span>
</div>


<div class="features">
	<div class="feature-cards">
		<div class="card-icon">
			<i class="fa-regular fa-file-lines"></i>
		</div>
		<span> Upload Resume</span>
	</div>
	<div class="feature-cards">
		<div class="card-icon">
			<i class="fa-solid fa-microphone"></i>
		</div>
            <span> Voice Answers</span>
        </div>
        <div class="feature-cards">
		<div class="card-icon">
			<i class="fa-solid fa-user-tie"></i>
		</div>
            <span> AI Interviewer</span>
        </div>
        <div class="feature-cards">
		<div class="card-icon">
			<i class="fa-solid fa-chart-line"></i>
		</div>
            <span> Instant Feedback</span>
        </div>
	
</div>

<div class="faq">
    <h2>Frequently Asked Questions</h2>

    
    <div class="faq-item">
        <div class="faq-question">
            What is Mirror Interview ?
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="faq-answer">
			Mirror Interview  is your last-minute interview preparation tool that lets you practice real interviews with an AI hiring manager. You can upload your resume or JD to get role-specific questions and instant feedback & get the perfect answer too.
        </div>
    </div>

    <div class="faq-item">
        <div class="faq-question">
			Is Mirror Interview  free to use?
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="faq-answer">
			Yes, Mirror Interview  offers 100% free version to get started.
        </div>
    </div>

	<div class="faq-item">
        <div class="faq-question">
            Can I practice for a specific job role?
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="faq-answer">
			Yes, Mirror Interview  tailors questions using your JD or resume.
        </div>
    </div>

	<div class="faq-item">
        <div class="faq-question">
            Is my resume or JD data safe?
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="faq-answer">
            Yes, Your uploaded files are processed securely and are never shared or stored on our servers.
        </div>
    </div>

	<div class="faq-item">
        <div class="faq-question">
            Do I need to create an account to start practicing?
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="faq-answer">
            No, You can start practicing without signing up.
        </div>
    </div>

</div>



<footer class="footer">
  <div class="footer-top">
    <div class="footer-logo">
      <span class="mate">Mirror</span><span class="mock">Interview</span>
    </div>

    <div class="footer-links">
      
       
      <a href="https://www.linkedin.com/in/sumandas08">Suman Das</a>
      
      <a href="https://www.linkedin.com/in/swarnadeep-debnath-/">Swarnadeep Debnath</a>
      <a href="#">Mirror Interview</a>
      
      <a href="#">privacy policy</a>
        <a href="#">Terms & Conditons</a> 
    </div>
  </div>

  <hr class="footer-divider">

  <div class="footer-bottom">
    <p>&copy; 2026 Mirror Interview . All rights reserved.</p>
  </div>
</footer>
<script src="../static/landingPage.js"></script>
</body>
</html>